<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="/">Back to Search</a></p>
    <p>Refine Search Results</p>
    <form action='/results' method='POST'>
      <p>Start Date: <input type="date" id="datepicker" name="start_date_field">
        End Date: <input type="date" id="datepicker" name="end_date_field"></p>
        <label for="question_value">Question Value:</label>
        <select class="selectpicker" data-style="btn-info" name="question_value">
          <option name="" value="0">Select a Value</option>
            <% for(var i=100; i<=1000; i+=100) {%>
              <option name="<%= i %>" value="<%= i %>"><%= i %></option>
            <% } %>
        </select>
        <input type="hidden" name="category" value="<%= results.fixedcategory %>">
        <input type="submit" />
    </form>
    <table style="width:100%">
      <tr>
      	<td style="font-weight:bold;width:130px">Answer</td>
      	<td style="font-weight:bold;width:130px">Question</td>
      	<td style="font-weight:bold;width:130px">Value</td>
      	<td style="font-weight:bold;width:130px">Category</td>
        <td style="font-weight:bold;width:130px">Air Date</td>
      </tr>
      <% for(var i=0; i<results.length; i++) {%>
        <tr>
          <td><%- results[i].answer %></td>
          <td><%- results[i].question %></td>
          <td><%= results[i].value %></td>
          <td><a href="/results?category=<%= results[i].category_id%>"><%- results[i].category.title %></td>
          <td><%- results[i].airdate.substring(0,10) %></td>
        </tr>
      <% } %>
    </table>

    <% if (results.length == 100) {%>
      <a href="/results?offset=<%= (results.offset || 0) + i %>">More
      <% } %>
      </body>
</html>
