<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table style="width:100%">
      <tr>
	<td style="width:130px">Answer</td>
	<td style="width:130px">Question</td>
	<td style="width:130px">Value</td>
	<td style="width:130px">Category</td>
      </tr>
      <% for(var i=0; i<results.length; i++) {%>
        <tr>
          <td><%- results[i].answer %></td>
          <td><%- results[i].question %></td>
          <td><%= results[i].value %></td>
          <td><a href="/results?category=<%= results[i].category_id%>"><%- results[i].category.title %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
